@import url('https://fonts.googleapis.com/css2?family=Mouse+Memoirs&family=Roboto&display=swap');

.gameBoard{
    width: 70%;
    height: calc(100vh - 135px);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: auto;
}

.gameStatus{
    width: 100%;
    text-align: center;
    color: #FFFFFF;
    padding: 30px;
}

.gameStatus span{
    transition: 0.3s all ease-in-out;
    font-size: 30px;
    font-family: 'Mouse Memoirs', sans-serif;
}

.gameInfo{
    width: 100%;
    color: #FFFFFF;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

@media screen and (max-width: 700px) {
    .gameInfo{
        display: flex;
        flex-direction: column;
    }
}

.playerInfo{
    position: relative;
    background-color: rgba(32, 30, 30, 0.2);
    width: 125px;
    text-align: center;
    padding: 20px 25px;
    border-radius: 15px;
    border: 1px solid rgba(51, 50, 50,0.3);
}

.playerImage{
    position: absolute;
    top: -15px;
    left: 50%;
    transform: translateX(-50%);
    font-size: 2em;
    color: #bdbdbd;
}

.playerName{
    margin-top: 5px;
    font-weight: bold;
}

.playerShape{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8em;
    margin-top: 15px;
}

.playerActiveCross .playerImage{
    transition: 0.3s all ease-in-out;
    color: #da3232;
}

.playerActiveCross .playerName{
    transition: 0.3s all ease-in-out;
    color: #da3232;
}

.playerActiveCross .playerShape{
    transition: 0.3s all ease-in-out;
    color: #da3232;
}

.playerActiveCircle .playerImage{
    transition: 0.3s all ease-in-out;
    color: #00a8ff;
}

.playerActiveCircle .playerName{
    transition: 0.3s all ease-in-out;
    color: #00a8ff;
}

.playerActiveCircle .playerShape{
    transition: 0.3s all ease-in-out;
    color: #00a8ff;
}

.board{
    width: fit-content;
    height: 100%;
    display: flex;
    flex-direction: column;
}

.boardRow{
    width: 100%;
    display: flex;
}

.boardCell{
    width: 150px;
    height: 150px;
    background-color: rgba(22, 21, 21, 0.5);
    border: 1px solid rgba(51, 50, 50,0.3);
    cursor: pointer;
    transition: 0.3s all ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 5em;
}

.boardRow:first-child .boardCell:first-child{
    border-radius: 15px 0 0 0;
}

.boardRow:first-child .boardCell:last-child{
    border-radius: 0 15px 0 0;
}

.boardRow:last-child .boardCell:first-child{
    border-radius: 0 0 0 15px;
}

.boardRow:last-child .boardCell:last-child{
    border-radius: 0 0 15px 0;
}

.boardCell:hover{
    background-color: rgba(22, 21, 21, 0.9);
}

.gameStatus .button{
    outline: none;
    border: none;
    transition: 0.3s all ease-in-out;
    background-color: #da3232;
    color: #FFFFFF;
    font-size: 1.5em;
    width: 150px;
    height: 45px;
    cursor: pointer;
    border-radius: 5px;
}

.gameStatus .button:hover{
    background-color: rgba(218, 50, 50, 0.8);
}